.container-header-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;

  background-color: #ffffff;
}

.text-menuList {
  width: 301px;
  height: 30px;

  /* SubHeading/B-20 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Character/Title .85 */

  color: rgba(0, 0, 0, 0.85);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-search-box {
  /* Auto layout */
  align-self: center;
  padding: 0px;

  width: 507px !important;
  /* Neutral/1 */

  background: #ffffff;
}

.menu-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  gap: 10px;

  /* position: absolute; */
  width: auto;
  height: 645px;
  left: 1px;
  top: 218px;
  overflow-y: scroll;
}

.btn-add-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  gap: 8px;

  width: 103px;
  height: 31px;

  /* Primary/6 */

  background: #1890ff;
  /* Primary/6 */

  border: 1px solid #1890ff;
  /* drop-shadow/button-primary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
}

.container-table-menu {
  /* Table */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1176px;
  height: 645px;

  /* Neutral/1 */

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.tag-all-menu {
  margin-left: 24px;
  margin-right: 12px;
}

.container-card-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.container-table-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Detail menu css */

.container-detail-menu-card {
  padding-top: 24px;
  padding-bottom: 405px;
}

.card-detail-menu {
  gap: 24px;

  width: 776px;
  height: 500px;
  overflow:auto;

  /* Dark-Light/Light-1 */

  background: #ffffff;
  border-radius: 10px;
}

.btn-back-menu {
  padding: 0px;
  width: 79px;
  height: 32px;
  color: #1890ff;
}

.row-content-detail-menu {
  /* Rows */
  margin-top: 24px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 726px;
  height: 337px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.col-text-detail-menu {
  /* Column */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 450px;
  height: 256px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.name-detail-menu {
  display: block;
  /* Rows */

  box-sizing: border-box;
  padding: 0px 0px 4px;

  width: 450px;
  height: auto;
  padding: 0px 0px 4px;

  /* Dark-Light/Light-5 */

  border-bottom: 1px solid #d8d8d8;
}

.role-detail-menu {
  display: flex;
  /* Rows */

  box-sizing: border-box;
  padding: 0px 0px 4px;

  width: 450px;
  height: 52px;
  padding: 0px 0px 4px;

  /* Dark-Light/Light-5 */

  border-bottom: 1px solid #d8d8d8;
}

.text-name {
  display: flex;
  flex-direction: column;
  /* Name */

  width: auto;
  height: 21px;

  /* Body/B-14 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: left;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-detail-menu-name {
  display: flex;
  flex-direction: column;
  /* Ahmad */

  width: auto;
  height: auto;

  /* SubHeading/R-18 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: left;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.avatar-detail-menu {
  /* Upload-Picture */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;

  width: 252px;
  height: 252px;

  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-action-menu {
  margin-top: auto;
  margin-bottom: 92px;
  padding: 4px 15px;
  gap: 10px;

  width: 118px;
  height: 40px;
}
