.header-admin-container {
  position: fixed;
  z-index: 998;
  height: 48px;
  width: 100%;
  padding: 0px 24px;
  gap: 24px;

  /* Primary/Biru-100 */

  background: #0669bd;
}

.container-admin-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 48px;
}

.badger-notif {
  margin-right: 12px;
  width: 41px;
  height: 38px;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.badger-notif:hover{
  cursor: pointer;
}

.btn-notif {
  color: #ffffff;
  font-size: 24px;
}

.separator-header-admin {
  margin-left: 17px;
  margin-right: 20px;
  height: 32px;

  border: 1px solid #ffffff;
}

.container-col-admin {
  width: 40px !important;
  height: 40px !important;
  padding: 0px;
}

.admin-avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.container-text-admin {
  width: 62px;
  height: 24px !important;
}

.btn-profile-dropdown:hover {
  cursor: pointer;
}

.nama-admin {
  /* ahmad */
  margin-top: 8px;
  width: 61px;
  height: 24px;

  /* Body/B-16 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.status-admin {
  display: flex;
  width: 40px;
  height: 18px;

  /* Body/R-12 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
