@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container-header-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;

  background-color: #ffffff;
}

.text-profile {
  width: 301px;
  height: 30px;

  /* SubHeading/B-20 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Character/Title .85 */

  color: rgba(0, 0, 0, 0.85);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.container-profile-card {
  padding-top: 24px;
  padding-bottom: 405px;
}

.card-profile {
  gap: 24px;

  width: 776px;
  height: 441px;

  /* Dark-Light/Light-1 */

  background: #ffffff;
  border-radius: 10px;
}

.btn-back-profile {
  padding: 0px;
  width: 79px;
  height: 32px;
  color: #1890ff;
}

.row-content-profile {
  /* Rows */
  margin-top: 24px;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 726px;
  height: 337px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.col-text-profile {
  /* Column */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 450px;
  height: 256px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-img-profile {
  /* Column */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 252px;
  height: 337px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.name-profile {
  display: block;
  /* Rows */

  box-sizing: border-box;
  padding: 0px 0px 4px;

  width: 450px;
  height: 52px;
  padding: 0px 0px 4px;

  /* Dark-Light/Light-5 */

  border-bottom: 1px solid #d8d8d8;
}
.role-profile {
  display: flex;
  /* Rows */

  box-sizing: border-box;
  padding: 0px 0px 4px;

  width: 450px;
  height: 52px;
  padding: 0px 0px 4px;

  /* Dark-Light/Light-5 */

  border-bottom: 1px solid #d8d8d8;
}

.text-name {
  display: flex;
  flex-direction: column;
  /* Name */

  width: auto;
  height: 21px;

  /* Body/B-14 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: left;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-profile-name {
  display: flex;
  flex-direction: column;
  /* Ahmad */

  width: auto;
  height: 27px;

  /* SubHeading/R-18 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: left;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.avatar-profile {
  /* Upload-Picture */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 252px;
  height: 252px;

  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-edit-profile {
  margin-top: 36px;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  gap: 8px;

  width: 252px;
  height: 40px;

  /* Primary/6 */
  color: #ffffff;

  background: #1890ff;
  /* Primary/6 */

  border: 1px solid #1890ff;
  /* drop-shadow/button-primary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
}

/* Edit Profile */

.text-edit-profile {
  width: 98px;
  height: 28px;

  /* H4/medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Character/Title .85 */

  color: rgba(0, 0, 0, 0.85);
}

.container-edit-profile {
  padding: 0px;
  gap: 24px;
}

.container-edit-form {
  /* Auto layout */

  justify-content: center !important;
  align-items: center !important;
  padding-left: 45px;

  width: 445px;
  height: 293px;
}

.container-btn-edit-profile {
  margin-left: 83px;
}
